.sisyphus
node_modules
dist
coverage
packages/**/test/__screenshots__
packages/**/.vitest-attachments
id_ed25519*
_tmp*
.wip
.mongoose
packages/**/src/**/*.js
packages/**/src/**/*.js.map
packages/**/src/**/*.d.ts
